/*style html file*/
/* css reset */
* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* navigation bar logo and img */
#logo {
    margin: 10px 34px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}

/* navigation bar: list item */
#navbar ul {
    display: flex;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 220px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url('/images/Home.jpg') no-repeat center center/cover;
    height: 638px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}

#home h1 {
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
 
}

#home p {
    font-family: 'Dancing Script', cursive;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
}


.btn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(191, 196, 194);
}

/* services sections */
.services {
    margin: 12px;
    display: flex;
}

.services .box {
    border: 2px solid red;
    padding: 23px;
    margin: 2px 50px;
    border-radius: 28px;
    background: #e9feff;
    margin-bottom: 20px;
}

.services .box img {
    height: 160px;
    margin: auto;
    display: block;
}


/* clints section */

#clints-side {
    position: relative;
}

#clints-side::before {
    content: "";
    position: absolute;
    background: url('/images/clint.jpg') no-repeat;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.clint-item {
    padding: 34px;
}

#clints-side {
    height: 300px;
}

.clint-item img {
    height: 200px;
    
}

#clints {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contect section */

#contect {
    position: relative;
 
}


#contect::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('/images/contect.jpg') no-repeat center center/cover;
}

#contect-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contect-box input,
#contect-box textarea {
    border: 2px solid rgb(108, 108, 108);
    width: 100%;
    background: none;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.3rem;
}

#contect-box label {
    font-size: 1.3rem;
}

footer {
    position: relative;
    /* top: 89px; */
    padding: 9px 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
}
/* utility class */

.h-secondary{
    font-family: 'Dancing Script', cursive;
    padding: 12px;
    font-size: 2.3rem;
}
.h-primary {
    font-family: 'Dancing Script', cursive;
    font-size: 2.8rem;
    padding: 12px;
}
.center{
    
    text-align: center;
    
}
.btn {
    text-align: center;
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(78, 79, 79);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
