.container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    width: 180px;
}

.btn {
    display: grid;
    grid-template-columns: auto(4fr, auto);
}

button:hover {
    background-color: #FFEBB2;
}
#display{
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    width: 260px;
    display: inline;
    margin: 12px 8px;
    text-align: right;
    height: 32px;
}

.button {
    height: 61px;
    width: 61px;
    margin: 2px 2px;
    background-color: #FFF3C7;
    border-radius: 50%;
    border: none;
}


.big {
    width: 122px;
    border-radius: 50px;
    margin: 4px 6px;
}

.calcu {
    background-color: #FEC7B4;
    display: flex;
    height: 400px;
    width: 300px;
    flex-direction: column;
}

input {
    background-color: #FEC7B4;
}
