.container {
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 180px;
}

.btn {
    display: grid;
    grid-template-columns: auto(4fr, auto);
}

button:hover {
    background-color: #FFEBB2;
}

.button {
    height: 35px;
    width: 35px;
    margin: 2px 2px;
    background-color: #FFF3C7;
    border-radius: 50%;
    border: none;
}


.big {
    width: 70px;
    border-radius: 50px;
    margin: 4px 6px;
}

.calcu {
    background-color: #FEC7B4;
}

input {
    background-color: #FEC7B4;
    /* border: 1px solid #FFF3C7; */
    border: none;
    border-radius: 12px;
    width: 150px;
    display: inline;
    margin: 12px 8px;
    text-align: right;
}